@import "tailwindcss";

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
  }
  
  body {
    font-family: var(--font-montserrat);
  }
  
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
  
  .font-inter {
    font-family: var(--font-inter);
  }

  .font-oswald {
    font-family: var(--font-oswald);
  }
}