@import "tailwindcss";          /* Solo se mantiene utilities */

/* Variables personalizadas (si usas CSS variables) */
:root {
  --radius: 0.5rem;
}

/* Estilos personalizados */
.custom-search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: url("data:image/svg+xml;utf8,<svg ... />") no-repeat center center;
  cursor: pointer;
}
